{% extends 'base.html' %}

{% load static %}

{% block title %}Login | Poll App{% endblock title %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-md-4 mx-auto my-auto">
            <div class="card bg-dark text-light">
                <div class="text-center card-header">
                    <h3 class="h3">Log In</h3>
                </div>
                <div class="card-body">
            
                    {% if messages %}
                        {% for message in messages %}
                            <p class="{{message.tags}}">{{message}}</p>     
                        {% endfor %}
                    {% endif %}  

                    <form action="{% url 'login' %}" method="post" onsubmit="return validate();">
                        {% csrf_token %}    
                        

                        <div class="mb-1">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control">
                            <label for="username error" id="username_error" class="text-danger"></label>
                        </div>

                        

                        <div class="mb-1">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control">
                            <label for="password error" id="password_error" class="text-danger"></label>
                        </div>


                        <p style="font-size: 20px;">New User? <a href="{% url 'signup' %}" style="text-decoration: none;"> Register</a></p>
                        <center><input type="submit" class="btn btn-primary" value="Log In"></center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


<!-- for javascript validation file -->
{% block extrajs %}
<script src="{% static 'js/signin-validator.js' %}"></script>
{% endblock extrajs %}

